*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section.products{
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        .products-container{
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
            gap:40px;
            img{
                width:100% ;
                height: 300px;
                object-fit: cover;

            }
            footer{
    display: grid;
    justify-content: center;
            }  
          
        }
}
section.product{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
    div{
        width: 250px;
        height: 300px;
        background: red;
    }
}