.container{
    .btn{
        width: 40%;
        border: transparent;
        background: brown;
        color: white;
        transition: .3s;
        // display: inline-block;
        &:hover{
            background: green;
            box-shadow: var(--shadow-3);
        }
    }
    display: grid;
    justify-content: center;
    align-items: center;
}